In [1]:
# https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html
import pandas as pd
import numpy as np

#  to_datetime

In [2]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [6]:
df = pd.to_datetime(df)
df

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [7]:
df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2 entries, 0 to 1
Series name: None
Non-Null Count  Dtype
--------------  -----
2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [8]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
s.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

In [10]:
pd.to_datetime(s, infer_datetime_format=True)

0      2000-03-11
1      2000-03-12
2      2000-03-13
3      2000-03-11
4      2000-03-12
          ...
2995   2000-03-12
2996   2000-03-13
2997   2000-03-11
2998   2000-03-12
2999   2000-03-13
Length: 3000, dtype: datetime64[ns]

In [9]:
%timeit pd.to_datetime(s, infer_datetime_format=True)

1.06 ms ± 18.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [11]:
%timeit pd.to_datetime(s, infer_datetime_format=False)

1.04 ms ± 7.13 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [12]:
pd.to_datetime(s, infer_datetime_format=False)

0      2000-03-11
1      2000-03-12
2      2000-03-13
3      2000-03-11
4      2000-03-12
          ...
2995   2000-03-12
2996   2000-03-13
2997   2000-03-11
2998   2000-03-12
2999   2000-03-13
Length: 3000, dtype: datetime64[ns]