In [1]:
import pandas as pd

df = pd.DataFrame({'name':['chreish', 'linda', 'mark'],
                    'address':['北京-昌平区', '上海-黄埔区', '深圳-龙华区']
                  })
df

      name address
0  chreish  北京-昌平区
1    linda  上海-黄埔区
2     mark  深圳-龙华区

In [2]:
address_df = df['address'].str.split('-', expand=True) # expand=True， 生成新的dataframe
address_df

    0    1
0  北京  昌平区
1  上海  黄埔区
2  深圳  龙华区

In [3]:
address_r_df = df['address'].str.rsplit('-', expand=True) # expand=True， 生成新的dataframe
address_r_df

    0    1
0  北京  昌平区
1  上海  黄埔区
2  深圳  龙华区

In [4]:
address_df.rename(columns={0:'city', 1:'district'}, inplace=True)
address_df

  city district
0   北京      昌平区
1   上海      黄埔区
2   深圳      龙华区

In [5]:
df = pd.concat([df['name'], address_df], axis=1) # 按照列来合并
df

      name city district
0  chreish   北京      昌平区
1    linda   上海      黄埔区
2     mark   深圳      龙华区