# 首页
http://tushare.org/  

# 简介
Tushare是一个免费、开源的python财经数据接口包。主要实现对股票等金融数据从数据采集、清洗加工 到 数据存储的过程，能够为金融分析人员提供快速、整洁、和多样的便于分析的数据，为他们在数据获取方面极大地减轻工作量，使他们更加专注于策略和模型的研究与实现上。考虑到Python pandas包在金融量化分析中体现出的优势，Tushare返回的绝大部分的数据格式都是pandas DataFrame类型，非常便于用pandas/NumPy/Matplotlib进行数据分析和可视化。当然，如果您习惯了用Excel或者关系型数据库做分析，您也可以通过Tushare的数据存储功能，将数据全部保存到本地后进行分析。应一些用户的请求，从0.2.5版本开始，Tushare同时兼容Python 2.x和Python 3.x，对部分代码进行了重构，并优化了一些算法，确保数据获取的高效和稳定。

# 下载安装 
python -m pip install tushare  

# 使用sushare

In [2]:
import tushare as ts
print(ts.__version__)

1.2.85

In [3]:
ts.get_hist_data('600848') #一次性获取全部日k线数据

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-06-02,13.94,13.98,13.85,13.69,39916.21,-0.08,-0.57,14.000,13.900,13.694,56235.02,48643.64,62475.67,0.27
2022-06-01,14.21,14.29,13.93,13.75,60290.27,-0.23,-1.62,14.008,13.895,13.687,56165.37,49624.84,65918.03,0.41
2022-05-31,14.25,14.36,14.16,14.14,73186.42,-0.08,-0.56,13.958,13.883,13.628,48592.95,50302.70,65642.69,0.50
2022-05-30,13.99,14.38,14.24,13.85,83319.68,0.42,3.04,13.846,13.813,13.529,43655.36,50205.89,63980.78,0.57
2022-05-27,13.95,13.97,13.82,13.79,24462.51,-0.07,-0.50,13.782,13.772,13.427,36174.74,51206.01,62068.99,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-09,24.30,24.36,24.08,23.86,63197.80,-0.22,-0.91,24.132,24.132,24.132,42950.15,42950.15,42950.15,0.80
2019-12-06,24.26,24.50,24.30,24.16,34743.57,0.04,0.17,24.145,24.145,24.145,37888.24,37888.24,37888.24,0.44
2019-12-05,24.30,24.30,24.26,24.07,35622.00,0.08,0.33,24.093,24.093,24.093,38936.46,38936.46,38936.46,0.45
2019-12-04,24.23,24.49,24.18,24.12,50304.17,0.34,1.43,24.010,24.010,24.010,40593.69,40593.69,40593.69,0.64
2019-12-03,23.91,23.96,23.84,23.53,30883.20,-0.20,-0.83,23.840,23.840,23.840,30883.20,30883.20,30883.20,0.39

In [5]:
ts.get_hist_data('600848',start='2022-01-05',end='2022-01-09') # 设定历史数据的时间

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-01-07,15.07,15.20,15.13,15.01,56787.75,0.08,0.53,15.030,14.900,14.881,59561.83,68826.06,66761.07,0.39
2022-01-06,15.07,15.20,15.05,14.99,51841.94,-0.02,-0.13,14.968,14.859,14.852,64292.86,70723.62,67634.21,0.36
2022-01-05,15.00,15.23,15.07,14.95,80546.00,0.04,0.27,14.948,14.858,14.815,88915.92,71704.66,67229.49,0.55